Source: ros-indigo-jackal-desktop
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/jackal_desktop
Standards-Version: 3.9.2

Package: ros-indigo-jackal-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-jackal-msgs, ros-indigo-jackal-viz (>= 0.3.1)
Description: Packages for working with Jackal from a ROS desktop.
